# Ignorar a pasta de configuração
#sua_pasta/

# Ignorar o arquivo de leitura
#README.md

# Ignorar a imagem
#image.png

#privado/
Sobre as colunas.txt

stramlit_app.py

#gitmodule
.gitmodules

# Ignorar o arquivo executável do python
.ipynb_checkpoints

# .requirements.txt.swp
.requirements.txt.swp

# Organizando_informacao_dos_dados.markdonw
Organizando_informacao_dos_dados.markdonw

# .gitignore.swp
.gitignore.swp

